header {
  width: 100vw;

  .menu {
    display: flex;
    align-items: center;
    height: 100px;
    margin-left: 360px;

    .mode_type {
      font: {
        weight: 600;
        size: 20px;
      }

      line-height: 24px;
      transition: color 0.2s;
      color: #4385F6;
      text-decoration: none;
      margin-right: 50px;

      &.no_select {
        color: #000000;
      }

      &:hover {
        transition: color 0.2s;
        color: #4385F6;
      }
    }
  }
}